/* Section background */

.reviews-section {
  padding: 6rem 0;
  position: relative;
  overflow: hidden;
}

/* Wrapper */
.reviews-wrapper {
  position: relative;
  z-index: 2;
  margin: 0 auto;
}

/* Heading */
.reviews-heading {
  text-align: center;
  font-size: clamp(2rem, 4vw, 2.8rem);
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 4rem;

  color: #f0b45b;
}

/* Outer scrolling area */
.reviews-container-row {
  overflow: hidden;
  position: relative;
}

/* Track (horizontal scroll effect base) */
.reviews-track {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  width: max-content;
  animation: scrollReviews 20s linear infinite;
  max-height: 250px;
}

.reviews-track:hover {
  animation-play-state: paused;
}

/* Review Card */
.review-card {
  background: linear-gradient(
    160deg,
    rgba(18, 70, 82, 0.55),
    rgba(6, 28, 34, 0.55)
  );

  border-radius: 24px;
  padding: 2rem;
  min-width: 460px;
  max-width: 460px;

  border: 1px solid rgba(240, 180, 91, 0.15);
  backdrop-filter: blur(10px);

  transition: all 0.35s ease, box-shadow 0.35s ease;
}

/* Hover glow */
.review-card:hover {
  transform: translateY(-5px);
  border-color: #e4b363;
}

/* Author info */
.review-writer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

/* Avatar */
.avatar {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #f0b45b;
}

/* Name */
.name {
  color: #f3e6cf;
}

.review-text {
  color: #d6dfe2;
  line-height: 1.65;
  max-height: 50%;
}

.review-text p {
  font-size: 0.98rem;
  line-height: 1.65;
  color: #d6dfe2;
  overflow: hidden;
}

/* Firefox */
.review-text {
  scrollbar-width: thin;
  scrollbar-color: rgba(240, 180, 91, 0.55) rgba(10, 35, 40, 0.4);
}

/* Chrome, Edge, Safari */
.review-text::-webkit-scrollbar {
  width: 10px;
}

.review-text::-webkit-scrollbar-track {
  background: rgba(10, 35, 40, 0.35);
  border-radius: 999px;
}

.review-text::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(240, 180, 91, 0.9),
    rgba(200, 145, 70, 0.9)
  );
  border-radius: 999px;
  border: 2px solid rgba(10, 35, 40, 0.6);
}

.review-text::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #f7d28a,
    #f0b45b
  );
}


.multiline-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 50%;
}

/* Infinite scroll animation */
@keyframes scrollReviews {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50.5%);
  }
}
